<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_Assignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/critical.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/tingle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile/profile.css"/>
    <link rel="stylesheet" href="~/css/notification/notification.css"/>
    <link rel="stylesheet" href="~/css/followers/follower.css"/>
    <link rel="stylesheet" href="~/css/request/request.css"/>
    <link href="~/css/library/photoswipe.css" rel="stylesheet" />

   
</head>
<body>
    <header class="container">
        <nav class="flex justify-between align-center py-30">
            <div class="px-10">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" width="32" height="32" viewBox="0 0 300 300.44" fill="#0A0A0A">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }

                                .cls-1, .cls-2 {
                                    stroke: #0A0A0A;
                                    stroke-miterlimit: 10;
                                }
                            </style>
                        </defs>
                        <rect class="cls-2" x="-.19" y=".66" width="300" height="300" />
                        <path class="cls-1" d="m247.06,109.15c-5.36,1.4-10.09,2.29-14.57,3.92-3.7,1.34-4.9.13-5.99-3.27-5.35-16.6-14.37-30.59-29.44-40.07-13.84-8.7-29.31-11.73-45.28-11.66-16.24.07-32.03,2.83-45.93,12.28-15.71,10.67-24.4,26.01-28.8,43.93-6.3,25.66-6.29,51.48,1.13,76.87,8.96,30.63,29.87,48.28,62.58,51.43,17.4,1.67,34.71.88,50.34-8.06,16.4-9.38,27.51-22.64,26.71-42.81-.49-12.28-6.35-21.69-17.33-28.37-1.43,5.17-2.59,10.09-4.16,14.87-7.94,24.16-29.4,34.1-52.62,30.94-11.73-1.6-21.71-6.46-28.82-16.01-12.94-17.38-6.52-42.12,13.36-52.58,13.34-7.02,27.69-7.41,42.24-6.42,3.1.21,6.19.55,9.3.84.25-9.57-5.87-18.6-14.63-22.12-13.94-5.59-27.35-2.25-38.48,9.78-5.09-3.49-10.23-7.01-16.43-11.25,4.14-4.09,7.6-8.32,11.83-11.53,16.75-12.7,44.01-12.4,60.7.42,10.69,8.21,15.73,19.69,17.04,32.59.62,6.08,3.17,9.31,8.19,12.06,30.88,16.9,39.15,56.57,17.78,84.96-14.02,18.63-32.92,28.9-55.88,31.88-19.71,2.56-39.13,1.6-57.93-5.58-22.12-8.45-38.1-23.68-47.11-45.34-15.89-38.2-16.24-77.34-1.94-115.85,12.05-32.46,36.71-50.77,71.16-55.47,19.75-2.69,39.12-1.4,57.92,5.73,23.95,9.09,39.9,26.26,49.87,49.4,1.94,4.51,3.33,9.26,5.18,14.46Zm-66.32,45.54c-9.56-.31-18.88-1.37-28.05-.63-6.02.48-12.42,2.58-17.61,5.68-10.17,6.09-9.68,19.56.36,25.93,7.46,4.74,15.73,4.99,24.05,3.39,13.42-2.58,20.9-15.21,21.25-34.38Z" />
                    </svg>
                </a>
                
            </div>
            <div class="flex-md flex-1 hidden  justify-content-center align-center gap-20">
                <a href="/" class="p-20 px-30 icon-header active">
                     
                    <svg width="26" height="26" aria-label="Trang chủ" role="img" viewBox="0 0 26 26" style="--fill: transparent; --height: 26px; --width: 26px;"><title>Trang chủ</title><path d="M2.25 12.8855V20.7497C2.25 21.8543 3.14543 22.7497 4.25 22.7497H8.25C8.52614 22.7497 8.75 22.5259 8.75 22.2497V17.6822V17.4997C8.75 15.1525 10.6528 13.2497 13 13.2497C15.3472 13.2497 17.25 15.1525 17.25 17.4997V17.6822V22.2497C17.25 22.5259 17.4739 22.7497 17.75 22.7497H21.75C22.8546 22.7497 23.75 21.8543 23.75 20.7497V12.8855C23.75 11.3765 23.0685 9.94815 21.8954 8.99883L16.1454 4.3454C14.3112 2.86095 11.6888 2.86095 9.85455 4.3454L4.10455 8.99883C2.93153 9.94815 2.25 11.3765 2.25 12.8855Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-width="2.5"></path></svg>
                    
                 </a>
                <a href="#" class="p-20 px-30 icon-header">
                    <svg width="26" height="26" aria-label="Tìm kiếm" role="img" viewBox="0 0 26 26"  style="--fill: transparent; --height: 26px; --width: 26px;"><title>Tìm kiếm</title><path clip-rule="evenodd" d="M3.5 11.5C3.5 7.08172 7.08172 3.5 11.5 3.5C15.9183 3.5 19.5 7.08172 19.5 11.5C19.5 15.9183 15.9183 19.5 11.5 19.5C7.08172 19.5 3.5 15.9183 3.5 11.5ZM11.5 1C5.70101 1 1 5.70101 1 11.5C1 17.299 5.70101 22 11.5 22C13.949 22 16.2023 21.1615 17.9883 19.756L22.3661 24.1339C22.8543 24.622 23.6457 24.622 24.1339 24.1339C24.622 23.6457 24.622 22.8543 24.1339 22.3661L19.756 17.9883C21.1615 16.2023 22 13.949 22 11.5C22 5.70101 17.299 1 11.5 1Z" fill="currentColor" fill-rule="evenodd"></path></svg>
                 </a>
                <a href="#" class="p-20 px-30 icon-header">
                    <svg width="26" height="26" aria-label="Tạo" role="img" viewBox="0 0 26 26" style="--fill: transparent; --height: 26px; --width: 26px;"><title>Tạo</title><path d="M22.75 13L22.75 13.15C22.75 16.5103 22.75 18.1905 22.096 19.4739C21.5208 20.6029 20.6029 21.5208 19.4739 22.096C18.1905 22.75 16.5103 22.75 13.15 22.75L12.85 22.75C9.48969 22.75 7.80953 22.75 6.52606 22.096C5.39708 21.5208 4.4792 20.6029 3.90396 19.4739C3.25 18.1905 3.25 16.5103 3.25 13.15L3.25 12.85C3.25 9.48968 3.25 7.80953 3.90396 6.52606C4.4792 5.39708 5.39708 4.4792 6.52606 3.90396C7.80953 3.25 9.48968 3.25 12.85 3.25L13 3.25" stroke="currentColor" stroke-linecap="round" stroke-width="2.5"></path><path d="M21.75 4.25L13.75 12.25" stroke="currentColor" stroke-linecap="round" stroke-width="2.5"></path></svg>
                </a>
                <a href="/notification" class="p-20 px-30 icon-header new-noti">
                    <svg width="26" height="26" aria-label="Thông báo" role="img" viewBox="0 0 26 26"  style="--fill: transparent; --height: 26px; --width: 26px;"><title>Thông báo</title><path d="M2.5 9.85683C2.5 14.224 6.22178 18.5299 12.0332 22.2032C12.3554 22.397 12.7401 22.5909 13 22.5909C13.2703 22.5909 13.655 22.397 13.9668 22.2032C19.7782 18.5299 23.5 14.224 23.5 9.85683C23.5 6.11212 20.8698 3.5 17.4599 3.5C15.4847 3.5 13.9356 4.39792 13 5.74479C12.0851 4.40812 10.5257 3.5 8.5401 3.5C5.14059 3.5 2.5 6.11212 2.5 9.85683Z" stroke="currentColor" stroke-width="2.5"></path></svg>
                </a>
                <a href="/profile" class="p-20 px-30 icon-header">
                    <svg width="26" height="26" aria-label="Trang cá nhân" role="img" viewBox="0 0 26 26" class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x3egl4o" style="--fill: transparent; --height: 26px; --width: 26px;"><title>Trang cá nhân</title><circle cx="13" cy="7.25" r="4" stroke="currentColor" stroke-width="2.5"></circle><path d="M6.26678 23.75H19.744C21.603 23.75 22.5 23.2186 22.5 22.0673C22.5 19.3712 18.8038 15.75 13 15.75C7.19625 15.75 3.5 19.3712 3.5 22.0673C3.5 23.2186 4.39704 23.75 6.26678 23.75Z" stroke="currentColor" stroke-width="2.5"></path></svg>
                </a>
            </div>
            <div id="menu" class="header_last px-10 rounded-style relative">
                <svg aria-label="Xem thêm" role="img" width="24" height="24" viewBox="0 0 24 24" ><title>Xem thêm</title><rect class="x1fwsm1s x1kl0l3y" rx="1.25" x="3" y="7"></rect><rect class="x1fwsm1s x6jxa94" rx="1.25" x="10" y="15"></rect></svg>
                <div class="absolute thread_settings rounded-10 top-30 right-0">
                    <ul class="list-unstyled rounded-10">
                        <li class="fs-16 header_last_text p-15">
                            <a href="#" class="text-decoration-none">
                                Giao diện
                            </a>
                           
                        </li>
                        <li class="fs-16 header_last_text p-15">
                            <a href="#" class="text-decoration-none">
                                Cài đặt
                            </a>
                            
                        </li>
                        <li class="fs-16 header_last_text p-15">
                            <a href="#" class="text-decoration-none">
                                Đã lưu
                            </a>
                           
                        <li>
                        <li class="fs-16 header_last_text p-15">
                            <a href="#" class="text-decoration-none">
                                Lượt thích của bạn
                            </a>
                          
                        </li>
                        <li class="fs-16 header_last_text p-15">
                            <a href="#" class="text-decoration-none">Báo cáo sự cố </a>
                         
                        </li>
                        <li class="fs-16 header_last_text rounded-bottom p-15">
                            <a href="#" class="text-decoration-none">
                                Đăng xuất
                            </a>
                        
                        </li>
                    </ul>

                </div>
            </div>
          
          
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        
        <emoji-box style="margin-left: auto; width: 100px; display: block" >
            <button id="emoji-button">Select Emoji</button>
            <div id="emojiContainer"></div>
            <div id="testEmojin"></div>
        </emoji-box>
       
        <div class="container">
            &copy; 2024 - PRN221_Assignment - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        var d = document.querySelector("#menu");
        d.addEventListener("click" ,(e) => {
            if (e.target.closest(".header_last")) {
                e.currentTarget.classList.toggle("active");
            }
            
        })
        document.body.addEventListener("click", (e) => {
            if (!e.target.closest(".header_last")) {
                document.querySelector("#menu")?.classList.remove("active")
            }
              
        })
        </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="~/js/lib/emojione.min.js"></script>
    <script src="~/js/lib/tingle.min.js"></script>
    <script type="module" src="~/js/lib/emoji-button.min.js"></script>
    <script src="~/js/lib/swiper-bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/newfeed/newfeed.js" asp-append-version="true"></script>
    <script src="~/js/profile/profile.js"></script>
    <script type="module" src="~/js/emoji.js"></script>
    <script type="module" src="~/js/photoswipe.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>