:root {
    --primary-color: #0A0A0A;
    --secondary-color: #181818;
    --third-color: #101010;
    --hover-react-color: #1E1E1E;
    --text-color: #F1F1F1;
    --sub-text-color: #717171;
    --border-color: #3a3a3a;
    --red-text: #FF3040;
    --scroll-track: #424242;
    --scroll-thumb: #7B7B7B;
}

/** {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
}*/


/* Page */
.page {
    position: relative;
    background-color: var(--primary-color);
    width: 100%;
    padding: 12px 0;
    position: relative;
    height: 100%;
}

/* Overlay */
.overlay {
    background-color: #161616d6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
}

    .overlay.hide {
        display: none;
    }

.custom-option-box .tingle-modal-box__content,
.custom-option-box .tingle-modal-box {
    max-width: 230px;
    padding: 0;
}

.custom-option-box .tingle-modal-box__content {
    text-align: center;
}

.custom-option-box .tingle-modal-box .tingle-modal__close {
    display: none;
}

.option-box {
    width: 230px;
    background-color: var(--third-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    text-align: center;
    border: 1px solid var(--border-color);
}

    .option-box.hide {
        display: none;
    }

.custom-edit-info-box .tingle-modal-box {
    width: 35%;
    background-color: var(--third-color);
    border: 1px solid var(--border-color);
}

.edit-info-box {
    width: 35%;
    background-color: var(--third-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1px solid var(--border-color);
    padding: 18px 32px;
    cursor: default;
}

    .edit-info-box.hide {
        display: none;
    }

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.new-avt {
    padding: 18px 0;
    color: var(--text-color);
}

.delete-avt {
    padding: 18px 0;
    color: var(--red-text)
}

.new-avt,
.delete-avt {
    font-size: 1.4rem;
    cursor: pointer;
}

    .new-avt:hover,
    .delete-avt:hover {
        opacity: 0.8;
    }

/* Main */
.main {
    border-radius: 30px;
    width: 640px;
    background-color: var(--secondary-color);
    margin: auto;
    padding: 24px;
    border: 1px solid var(--border-color);
}

/* Profile */
.profile {
    display: flex;
    justify-content: space-between;
}

.left {
    color: var(--text-color);
    padding-top: 16px;
}

.username {
    font-size: 2.4rem;
    margin-bottom: 12px;
    font-weight: bold;
}

.fullname {
    font-size: 1.6rem;
}

.story {
    font-size: 1.4rem;
    margin: 24px 0;
}

.followers {
    font-size: 1.4rem;
    color: var(--sub-text-color);
    text-decoration: none;
}

    .followers:hover {
        text-decoration: underline;
    }

.right {
    position: relative;
}

.avatar {
    background-image: url('../../pics/profile/shh.jpg');
    width: 84px;
    height: 84px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.avatar:hover {
    opacity: 0.9;
}

/* Btn edit */
.btn-edit {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    color: white;
    margin: auto;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    line-height: 32px;
    margin-top: 24px;
    cursor: pointer;
}

    .btn-edit:hover {
        opacity: 0.8;
    }

.tabs {
    display: flex;
    color: var(--sub-text-color);
    align-items: center;
    position: relative;
}

.tab-left,
.tab-right {
    text-align: center;
    flex: 1;
    font-size: 1.4rem;
    margin: 14px 0 0;
    cursor: pointer;
    user-select: none;
    padding: 18px 0;
    transition: all .1s ease;
}

.line {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: var(--border-color);
}

.selected-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 295px;
    height: 2px;
    background-color: var(--text-color);
    transition: all .2s ease;
}

.tab-left.selected {
    color: var(--text-color);
    scale: 1.1;
}

.tab-right.selected {
    color: var(--text-color);
    scale: 1.1;
}

/* Edit box */
.label {
    color: var(--text-color);
    font-size: 1.4rem;
}

.info {
    border: none;
    width: 100%;
    margin: 8px 0 0;
    padding: 8px 8px;
    font-size: 1.4rem;
    outline: none;
    background-color: var(--third-color);
    color: var(--text-color);
}

.row {
    width: 100%;
}

.seperate-line {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    margin: 0 0 16px 0;
}

.row-private {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-private {
    background-color: var(--text-color);
    width: 52px;
    height: 32px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

    .btn-private.public {
        background-color: var(--secondary-color);
    }

.btn-ball {
    background-color: var(--primary-color);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
}

.btn-edit-info {
    background-color: var(--text-color);
    color: var(--primary-color);
    border-radius: 10px;
    width: 100%;
    margin-top: 32px;
    padding: 20px 0;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

    .btn-edit-info:hover {
        opacity: .8;
    }

/* Threads */
thread-up {
    width: 100%;
    display: block;
    padding: 20px 32px;
    position: relative;
}

.post-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper-avt {
    flex: 1;
}

.avt-author {
    width: 48px;
    height: 48px;
    background-image: url('../../pics/profile/shh.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.wrapper-author {
    flex: 6;
}

.info-author {
    display: flex;
    align-items: center;
}

.username-author {
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
}

.username-author:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.time {
    color: var(--sub-text-color);
    font-size: 1.4rem;
    margin-left: 12px;
}

.caption {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 1.4rem;
}

    .caption:hover {
        cursor: pointer;
    }

.post-pics-frame {
    margin-top: 10px;
    border-radius: 10px;
}

.post-pics {
    background-image: url('../../pics/profile/396903095_236683649428912_7065068823687155026_n.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50%;
}

.react-wrapper {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

    .react-wrapper svg {
        fill: transparent;
        color: var(--text-color);
        stroke: currentColor;
        stroke-width: 2;
        margin-right: 4px;
    }

.num-comment,
.num-like,
.num-share {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-right: 12px;
}

.wrapper-react-num {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 15px;
    padding: 6px 0 4px 8px;
    margin-right: 8px;
}

.separate-post {
    background-color: var(--border-color);
    height: 1px;
    right: -24px;
    left: -24px;
    bottom: 20;
    position: absolute;
}

.option-icon svg {
    border-radius: 50%;
    scale: 1.1;
    cursor: pointer;
}

    .option-icon svg:hover {
        background-color: var(--hover-react-color);
        border-radius: 50%;
    }

.time,
.caption {
    cursor: default;
}

.heart,
.comment,
.re-post {
    transition: scale .1s ease;
    scale: 1;
}

    .heart:hover,
    .comment:hover,
    .re-post:hover {
        scale: 1.2;
    }

/* Detail post */
.wrapper-avt.detail {
    margin-right: 12px;
}

.detail-header-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-caption {
    margin: 14px 0;
}

/*.view-detail-post {
    cursor: pointer;
}*/

.detail-post {
    min-width: 640px;
    background-color: var(--third-color);
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    border: 1px solid var(--border-color);
    padding: 18px 32px;
    cursor: default;
    overflow-y: auto;
    scrollbar-width: none;
}

.detail-post.hide {
    display: none;
}

.custom-thread-detail .tingle-modal-box__content {
    position: relative;
    max-height: 90vh;
}

.custom-thread-detail .tingle-modal-box {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    overflow: hidden;
    height: auto;
    width: 640px;
}

.custom-thread-detail .tingle-modal__close {
    display: none;
}

.detail-separate-line {
    height: 1px;
    background-color: var(--border-color);
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
}

.caption.detail {
    cursor: auto;
}

.post-pics-frame.detail {
    cursor: auto;
}

.num-like.detail:hover,
.num-comment.detail:hover,
.num-share.detail:hover {
    text-decoration: underline;
}

/* Detail like */
.detail-like-box {
    background-color: var(--third-color);
    border-radius: 15px;
    border: 1px solid var(--border-color);
    padding-top: 18px;
    cursor: default;
    width: 100%;
    overflow: hidden;
}

.detail-like-content {
    overflow-y: auto;
    max-height: 350px;
}

.custom-thread-detail-like .tingle-modal__close {
    display: none
}

.custom-thread-detail-like .tingle-modal-box {
    width: 500px;
    border: 1px solid var(--border-color);
}

.custom-thread-detail-like .tingle-modal-box__content {
    padding: 0;
    overflow: hidden
}
/* Scroll */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #686868;
        cursor: pointer;
    }

.detail-like-header {
    position: relative;
    width: 100%;
    padding: 0 0 16px;
}

.detail-like-box.hide {
    display: none;
}

.detail-like--title {
    width: 100%;
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: center;
    padding-top: 16px;
}

.detail-like--line {
    height: 1px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--border-color);
    position: absolute;
}

/* Sub overlay */
.sub-overlay {
    background-color: #161616d6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
}

    .sub-overlay.hide {
        display: none;
    }

.detail-like-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 20px;
}

.person-avt {
    background-image: url('../../pics/profile/shh.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 20px;
}

.person-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person-username {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 6px;
    cursor: pointer;
}

    .person-username:hover {
        text-decoration: underline;
    }

.person-fullname {
    font-size: 1.5rem;
    color: var(--sub-text-color);
    cursor: auto;
}

.btn-follow {
    width: 96px;
    height: 32px;
    background-color: var(--text-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    line-height: 32px;
    border-radius: 10px;
    transition: scale .2s ease;
}

    .btn-follow.hide {
        display: none;
    }

.btn-unfollow {
    width: 132px;
    height: 32px;
    background-color: var(--border-color);
    border-radius: 10px;
    text-align: center;
    line-height: 32px;
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--text-color);
    transition: scale .2s ease;
}

    .btn-unfollow.hide {
        display: none;
    }

    .btn-unfollow:hover,
    .btn-follow:hover {
        cursor: pointer;
        opacity: .9;
        scale: 1.05;
    }

/* Detail comment */

