@page "/notification"
@model PRN221_Assignment.Pages.Notification.NotificationModel
@{
}
<div class="page">
    <div class="main">
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
        <noti>
            <a href="" class="a-link-noti">
                <div class="noti-wrapper">
                    <div class="noti-avt-wrapper">
                        <img src="./pics/profile/meower.jpg" class="noti-avt" />
                    </div>
                    <div class="noti-content-wrapper">
                        <div class="noti-content-header">
                            <div class="noti-person-name">_____meower</div>
                            <div class="noti-time">13 hour</div>
                        </div>
                        <div class="noti-content-body">
                            <div class="noti-content-message">Liked a post</div>
                            <div class="noti-content-message hidden">Posted a comment</div>
                            <div class="noti-content-message hidden">Replied a comment</div>
                            <div class="noti-content-message hidden">Shared a post</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="line"></div>
        </noti>
    </div>
</div>
