@page "/followers"
@model PRN221_Assignment.Pages.FollowersManagement.IndexModel
@{
}
<div class="page">
    <div class="main">
        <follower>
            <div class="follower-wrapper">
                <a href="" class="a-link-follower">
                    <div class="follower-wrapper-person">
                        <div class="follower-avt-wrapper">
                            <img src="./pics/profile/meower.jpg" class="follower-avt" />
                        </div>
                        <div class="follower-info-wrapper">
                            <div class="follower-info">
                                <div class="follower-username">_____meower</div>
                                <div class="follower-fullname">Mòe</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="follower-btn-wrapper">
                    <div class="follower-btn-follow hidden">Follow</div>
                    <div class="follower-btn-unfollow">Unfollow</div>
                </div>
            </div>
            <div class="line"></div>
        </follower>
        <follower>
            <div class="follower-wrapper">
                <a href="" class="a-link-follower">
                    <div class="follower-wrapper-person">
                        <div class="follower-avt-wrapper">
                            <img src="./pics/profile/meower.jpg" class="follower-avt" />
                        </div>
                        <div class="follower-info-wrapper">
                            <div class="follower-info">
                                <div class="follower-username">_____meower</div>
                                <div class="follower-fullname">Mòe</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="follower-btn-wrapper">
                    <div class="follower-btn-follow ">Follow</div>
                    <div class="follower-btn-unfollow hidden">Unfollow</div>
                </div>
            </div>
            <div class="line"></div>
        </follower>
    </div>
</div>
