@page
@model PRN221_Assignment.Pages.Search.IndexModel
@{
}

<form method="post" enctype="multipart/form-data"></form>



<div class="fluid_container">
    <div class="thread_wrapper">
        <div class="thread_post_header pointer relative py-20 px-25 align-center flex gap-10">
            <input id="text" name="text" class="w-full search_text" placeholder="Input here" />
            <div class="absolute search_icon" style="left: 40px">
                <svg aria-label="Tìm kiếm" role="img" width="16" height="16" viewBox="0 0 26 26" class="x1lliihq xffa9am x2lah0s x1jwls1v x1n2onr6 x17fnjtu x3egl4 " style="--fill: transparent; --height: 16px; --width: 16px;"><title>Tìm kiếm</title><path clip-rule="evenodd" d="M3.5 11.5C3.5 7.08172 7.08172 3.5 11.5 3.5C15.9183 3.5 19.5 7.08172 19.5 11.5C19.5 15.9183 15.9183 19.5 11.5 19.5C7.08172 19.5 3.5 15.9183 3.5 11.5ZM11.5 1C5.70101 1 1 5.70101 1 11.5C1 17.299 5.70101 22 11.5 22C13.949 22 16.2023 21.1615 17.9883 19.756L22.3661 24.1339C22.8543 24.622 23.6457 24.622 24.1339 24.1339C24.622 23.6457 24.622 22.8543 24.1339 22.3661L19.756 17.9883C21.1615 16.2023 22 13.949 22 11.5C22 5.70101 17.299 1 11.5 1Z" fill="currentColor" fill-rule="evenodd"></path></svg>
            </div>
            <div class="loader loader_search hidden absolute" style="width: 30px">

            </div>
            

        </div>

        <div class="thread_body_search flex flex-col flex-column justify-content-center">
            <div class="loader thread_body_search_loader hidden mx-auto" style="width: 60px">
            </div>

            <div class="flex flex-column gap-20 py-15 px-25 thread_body_search_content">
                @foreach(var item in Model.Accounts)
                {
                    <div class="flex flex-cols gap-20 flex-wrap">
                        <div class="thread_info col-w-custom" style="width: 48px">
                            <div class="flex h-full flex-column">
                                <img width="48" height="48" class="avt-author" src="@item.account.Info.Image" />
                                <div class="line_main mx-auto flex-1 hidden">
                                </div>
                            </div>


                        </div>
                        <div class="thread_main pb-3 col-w-custom" style="--col-width: calc(100% - 48px - 30px);border-bottom: 1px solid rgba(243, 245, 247, 0.15);">
                            <div class="flex mb-2 align-center justify-between">
                                <div class="flex flex-column">
                                    <h3 class="author flex align-center fs-16">
                                        <a class="show-specific-profile" href="/profile?userId=@item.account.UserID">@item.account.Info.Name</a>
                                        <span class="time-elapsed"></span>
                                    </h3>
                                    <h4 class="author_nickname">@item.account.Info.userName</h4>
                                </div>

                            </div>
                            <span class="follow_text">
                                @item.countUser nguoi theo doi
                            </span>

                        </div>
                    </div>
                }
                



            </div>

        </div>


    </div>

</div>