.online {
    content: "";
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 27px;
    right: 0px;
    border: 1px solid black; 
}

.user_image .online {
    bottom: 5px;
    right: 0px;
}
.header_left_body::-webkit-scrollbar{
    height: 400px;
    color: red;
}
.button_profile {
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    background-color: rgb(54,54,54);
    border-radius: 8px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}
.chat_body{
     margin-bottom: 40px;
}
textarea[name="mess"] {
    --input-border-color: rgb(54,54,54);
    color: rgb(245,245,245);
    opacity: 1;
    background: black;
    height: 100%;
    padding-right: 90px;
    --input-padding: 1rem 2rem;
}
    textarea[name="mess"]:focus {
        --input-border-color: rgb(54,54,54);
    }
    textarea[name="mess"]::placeholder {
        color: rgb(245,245,245);
        opacity: 0.7;
    }
.icon_chat{
     top: 50%;
     transform: translateY(-50%);
}
.write-comment-wrapper {
    width: calc( 100% - 33.33%);
    background-color: unset;
    padding: unset;
    border-left: unset;
    border-right: unset;
    position: fixed;
    bottom: 30px;
    right: 0;
    left: unset;
    transform: unset;
    display: block;
    z-index: 3;
}

.message-box {
    max-width: 350px;
    min-height: 12px;
    padding: 0 10px 0 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.other .message-box {
    background-color: #262626;
    color: var(--text-color);
}

.me .message-box {
    background-color: var(--text-color);
    color: #262626;
}

.wrapper-message.other {
    
}

.wrapper-message.me {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row-reverse;
}

.main-chat {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.write-comment-box-wrapper {
    width: 95%;
}

.avt-follower-up {
    object-fit: cover;
    height: 65px;
}

.wrapper-avt-follower-up {
    margin: 0 8px;
    cursor: pointer;
    padding: 4px;
    border-radius: 10px;
    user-select: none;
}

.wrapper-avt-follower-up:hover {
    background-color: #262626;
}

.username-follower-up,
.avt-follower-up {
    user-select: none;
}

user-chat {
    user-select: none;
    cursor: pointer;
    padding: 0 12px;
}

user-chat:hover {
    background-color: #262626;
    border-radius: 10px;
}