@page
@model PRN221_Assignment.Pages.Profile.DetailPostModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_Assignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/critical.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/library/tingle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/profile/profile.css" />
</head>

<body>
    <div class="page">
        <div class="main">
            <div class="back-page">
                <a href="/profile" class="a-back-page">
                    <i class="fa-solid fa-arrow-left icon-back"></i>
                </a>
            </div>
            <thread-detail data-custom-class="custom-thread-detail-like">
                <div class="detail-post-wrapper">
                    <thread-detail-like class="wrapper-detail-like-box hidden">
                        <div class="detail-like-box ">
                            <div class="detail-like-header">
                                <div class="detail-like--title">Likes</div>
                                <div class="detail-like--line"></div>
                            </div>
                            <div class="detail-like-content">
                                <div class="detail-like-person">
                                    <div class="person-info">
                                        <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                        <div class="person-name">
                                            <div class="person-username">giu_giot_le_sau</div>
                                            <div class="person-fullname">Sát thủ đa tình</div>
                                        </div>
                                    </div>
                                    <div class="person-follow-status">
                                        <div class="btn-follow hide">Follow</div>
                                        <div class="btn-unfollow ">Unfollow</div>
                                    </div>
                                </div>
                                <div class="detail-like-person">
                                    <div class="person-info">
                                        <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                        <div class="person-name">
                                            <div class="person-username">giu_giot_le_sau</div>
                                            <div class="person-fullname">Tối thứ 7</div>
                                        </div>
                                    </div>
                                    <div class="person-follow-status">
                                        <div class="btn-follow hide">Follow</div>
                                        <div class="btn-unfollow">Unfollow</div>
                                    </div>
                                </div>
                                <div class="detail-like-person">
                                    <div class="person-info">
                                        <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                        <div class="person-name">
                                            <div class="person-username">giu_giot_le_sau</div>
                                            <div class="person-fullname">Tối chủ nhật</div>
                                        </div>
                                    </div>
                                    <div class="person-follow-status">
                                        <div class="btn-follow">Follow</div>
                                        <div class="btn-unfollow hide">Unfollow</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </thread-detail-like>
                    <div class="detail-header-wrapper">
                        <div class="detail-header-author">
                            <img src="../pics/profile/shh.jpg" class="avt-author" />
                            <div class="wrapper-author">
                                <div class="info-author">
                                    <a href="" class="username-author">giu_giot_le_sau</a>
                                    <span class="time">3 ngày</span>
                                </div>
                            </div>
                        </div>


                        <div class="option-icon">
                            <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                     class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                     style="fill: #777777; --height: 20px; --width: 20px;">
                                    <title>Xem thêm</title>
                                    <circle cx="12" cy="12" r="1.5"></circle>
                                    <circle cx="6" cy="12" r="1.5"></circle>
                                    <circle cx="18" cy="12" r="1.5"></circle>
                                </svg>
                            </icon>
                        </div>
                    </div>
                    <div class="detail-caption">
                        <div class="view-detail-post">
                            <div class="caption detail">Tôi muốn cưới vợ</div>
                            <div class="post-pics-frame detail">
                                <img src="../pics/profile/3some.jpg" class="post-pics" />
                            </div>
                        </div>
                    </div>
                    <div class="detail-react">
                        <div class="react-wrapper">
                            <div class="wrapper-react-num">
                                <div class="heart">
                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                        <title>Thích</title>
                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="num-like detail-like detail">555</div>
                            </div>
                            <div class="wrapper-react-num">
                                <div class="comment comment-of-post">
                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                        <title>Trả lời</title>
                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                    </svg>
                                </div>
                                <div class="num-comment detail-comment">555</div>
                            </div>
                            <div class="wrapper-react-num">
                                <div class="re-post">
                                    <svg width="20" height="19" aria-label="Đăng lại" role="img" viewBox="0 0 24 24"
                                         style="--fill: currentColor; --height: 20px; --width: 20px; stroke-width: 1;">
                                        <title>Đăng lại</title>
                                        <path d="M19.998 9.497a1 1 0 0 0-1 1v4.228a3.274 3.274 0 0 1-3.27 3.27h-5.313l1.791-1.787a1 1 0 0 0-1.412-1.416L7.29 18.287a1.004 1.004 0 0 0-.294.707v.001c0 .023.012.042.013.065a.923.923 0 0 0 .281.643l3.502 3.504a1 1 0 0 0 1.414-1.414l-1.797-1.798h5.318a5.276 5.276 0 0 0 5.27-5.27v-4.228a1 1 0 0 0-1-1Zm-6.41-3.496-1.795 1.795a1 1 0 1 0 1.414 1.414l3.5-3.5a1.003 1.003 0 0 0 0-1.417l-3.5-3.5a1 1 0 0 0-1.414 1.414l1.794 1.794H8.27A5.277 5.277 0 0 0 3 9.271V13.5a1 1 0 0 0 2 0V9.271a3.275 3.275 0 0 1 3.271-3.27Z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="num-share detail-share detail">555</div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-separate-line"></div>
                </div>
                <comment-box class="comment-box">
                    @*comment-wrapper là bắt đầu khung hội thoại mới*@
                    <div class="comment-wrapper">
                        @*Moi 1 comment-author la 1 binh luan, author hay reply cung nhu nhau het, khac class thoi*@
                        <comment-author data-custom-class="comment-detail-like-box" class="comment-author">
                            <comment-detail-like class="wrapper-detail-like-box hidden">
                                <div class="detail-like-box ">
                                    <div class="detail-like-header">
                                        <div class="detail-like--title">Likes</div>
                                        <div class="detail-like--line"></div>
                                    </div>
                                    <div class="detail-like-content">
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Sát thủ đa tình</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow ">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối thứ 7</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối chủ nhật</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow">Follow</div>
                                                <div class="btn-unfollow hide">Unfollow</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-detail-like>
                            <div class="comment-left-wrapper">
                                <img src="../pics/profile/choi can choi co choi ke.jpg" class="author-comment-avt" />
                                <div class="author-comment-content">
                                    <div class="author-comment-header">
                                        <a href="" class="author-name">___pho_khong_em</a>
                                        <div class="author-comment-time">2 days</div>
                                    </div>
                                    <div class="author-comment-body">
                                        <div class="comment-content">Các lãnh đạo các cấp có trái tim không?</div>
                                    </div>
                                    <div class="author-comment-footer">
                                        <div class="react-wrapper author-comment-react more-reply">
                                            <div class="wrapper-react-num">
                                                <div class="heart">
                                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                                        <title>Thích</title>
                                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="num-like detail-like detail comment-detail-like-link">10</div>
                                            </div>
                                            <div class="wrapper-react-num">
                                                <div class="comment">
                                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                        <title>Trả lời</title>
                                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                    </svg>
                                                </div>
                                                <div class="num-comment detail-comment">7</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-right-wrapper">
                                <div class="option-icon">
                                    <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                        <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                             class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                             style="fill: #777777; --height: 20px; --width: 20px;">
                                            <title>Xem thêm</title>
                                            <circle cx="12" cy="12" r="1.5"></circle>
                                            <circle cx="6" cy="12" r="1.5"></circle>
                                            <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                    </icon>
                                </div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line "></div>
                                <div class="view-reply ">View (1) more reply</div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="hide-reply hidden">Hide all replies</div>
                            </div>
                        </comment-author>
                        <div class="detail-separate-line"></div>
                    </div>
                    @*kết thúc 1 khung hội thoại*@

                    @*comment-wrapper là bắt đầu khung hội thoại mới*@
                    <div class="comment-wrapper">
                        @*Moi 1 comment-author la 1 binh luan, author hay reply cung nhu nhau het, khac class thoi*@
                        <comment-author data-custom-class="comment-detail-like-box" class="comment-author">
                            <comment-detail-like class="wrapper-detail-like-box hidden">
                                <div class="detail-like-box ">
                                    <div class="detail-like-header">
                                        <div class="detail-like--title">Likes</div>
                                        <div class="detail-like--line"></div>
                                    </div>
                                    <div class="detail-like-content">
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Sát thủ đa tình</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow ">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối thứ 7</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối chủ nhật</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow">Follow</div>
                                                <div class="btn-unfollow hide">Unfollow</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-detail-like>
                            <div class="comment-left-wrapper">
                                <img src="../pics/profile/chopstick.jpg" class="author-comment-avt" />
                                <div class="author-comment-content">
                                    <div class="author-comment-header">
                                        <a href="" class="author-name">___con_mua_bang_gia</a>
                                        <div class="author-comment-time">12 hour</div>
                                    </div>
                                    <div class="author-comment-body">
                                        <div class="comment-content">Chơi cần chơi cỏ chơi ke, không bằng 1 phút được nghe em cười</div>
                                        <img src="../pics/profile/reply.jpg" class="comment-picture"/>
                                    </div>
                                    <div class="author-comment-footer">
                                        <div class="react-wrapper author-comment-react more-reply">
                                            <div class="wrapper-react-num">
                                                <div class="heart">
                                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                                        <title>Thích</title>
                                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="num-like detail-like detail comment-detail-like-link">10</div>
                                            </div>
                                            <div class="wrapper-react-num">
                                                <div class="comment">
                                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                        <title>Trả lời</title>
                                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                    </svg>
                                                </div>
                                                <div class="num-comment detail-comment">7</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-right-wrapper">
                                <div class="option-icon">
                                    <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                        <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                             class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                             style="fill: #777777; --height: 20px; --width: 20px;">
                                            <title>Xem thêm</title>
                                            <circle cx="12" cy="12" r="1.5"></circle>
                                            <circle cx="6" cy="12" r="1.5"></circle>
                                            <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                    </icon>
                                </div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="view-reply hidden">View (1) more reply</div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line "></div>
                                <div class="hide-reply ">Hide all replies</div>
                            </div>
                        </comment-author>
                        @*Đây là bắt đầu 1 reply, 1 reply cũng là 1 commentauthor nhưng thêm class comment-reply, reply thì phải để trước line*@
                        <comment-author data-custom-class="comment-detail-like-box" class="comment-author comment-reply">
                            <comment-detail-like class="wrapper-detail-like-box hidden">
                                <div class="detail-like-box ">
                                    <div class="detail-like-header">
                                        <div class="detail-like--title">Likes</div>
                                        <div class="detail-like--line"></div>
                                    </div>
                                    <div class="detail-like-content">
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Sát thủ đa tình</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow ">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối thứ 7</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối chủ nhật</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow">Follow</div>
                                                <div class="btn-unfollow hide">Unfollow</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-detail-like>
                            <div class="comment-left-wrapper">
                                <img src="../pics/profile/meower.jpg" class="author-comment-avt" />
                                <div class="author-comment-content">
                                    <div class="author-comment-header">
                                        <a href="" class="author-name">_____meower</a>
                                        <div class="author-comment-time">1 hour</div>
                                    </div>
                                    <div class="author-comment-body">
                                        <div class="comment-content">Giờ em cừi với thằng khác rồi</div>
                                    </div>
                                    <div class="author-comment-footer">
                                        <div class="react-wrapper author-comment-react">
                                            <div class="wrapper-react-num">
                                                <div class="heart">
                                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                                        <title>Thích</title>
                                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="num-like detail-like detail comment-detail-like-link">10</div>
                                            </div>
                                            <div class="wrapper-react-num">
                                                <div class="comment">
                                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                        <title>Trả lời</title>
                                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                    </svg>
                                                </div>
                                                <div class="num-comment detail-comment">7</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-right-wrapper">
                                <div class="option-icon">
                                    <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                        <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                             class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                             style="fill: #777777; --height: 20px; --width: 20px;">
                                            <title>Xem thêm</title>
                                            <circle cx="12" cy="12" r="1.5"></circle>
                                            <circle cx="6" cy="12" r="1.5"></circle>
                                            <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                    </icon>
                                </div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="view-reply hidden">View (1) more reply</div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="hide-reply hidden">Hide all replies</div>
                            </div>
                        </comment-author>
                        <div class="detail-separate-line"></div>
                    </div>
                    @*kết thúc 1 khung hội thoại*@

                    @*comment-wrapper là bắt đầu khung hội thoại mới*@
                    <div class="comment-wrapper">
                        @*Moi 1 comment-author la 1 binh luan, author hay reply cung nhu nhau het, khac class thoi*@
                        <comment-author data-custom-class="comment-detail-like-box" class="comment-author">
                            <comment-detail-like class="wrapper-detail-like-box hidden">
                                <div class="detail-like-box ">
                                    <div class="detail-like-header">
                                        <div class="detail-like--title">Likes</div>
                                        <div class="detail-like--line"></div>
                                    </div>
                                    <div class="detail-like-content">
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Sát thủ đa tình</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow ">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối thứ 7</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối chủ nhật</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow">Follow</div>
                                                <div class="btn-unfollow hide">Unfollow</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-detail-like>
                            <div class="comment-left-wrapper">
                                <img src="../pics/profile/vktemp.jpg" class="author-comment-avt" />
                                <div class="author-comment-content">
                                    <div class="author-comment-header">
                                        <a href="" class="author-name">___renekton</a>
                                        <div class="author-comment-time">10 hour</div>
                                    </div>
                                    <div class="author-comment-body">
                                        <div class="comment-content">Vl anh ơi, cưới em này</div>
                                    </div>
                                    <div class="author-comment-footer">
                                        <div class="react-wrapper author-comment-react more-reply">
                                            <div class="wrapper-react-num">
                                                <div class="heart">
                                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                                        <title>Thích</title>
                                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="num-like detail-like detail comment-detail-like-link">0</div>
                                            </div>
                                            <div class="wrapper-react-num">
                                                <div class="comment">
                                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                        <title>Trả lời</title>
                                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                    </svg>
                                                </div>
                                                <div class="num-comment detail-comment">1</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-right-wrapper">
                                <div class="option-icon">
                                    <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                        <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                             class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                             style="fill: #777777; --height: 20px; --width: 20px;">
                                            <title>Xem thêm</title>
                                            <circle cx="12" cy="12" r="1.5"></circle>
                                            <circle cx="6" cy="12" r="1.5"></circle>
                                            <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                    </icon>
                                </div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="view-reply hidden">View (1) more reply</div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line "></div>
                                <div class="hide-reply ">Hide all replies</div>
                            </div>
                        </comment-author>
                        <comment-author data-custom-class="comment-detail-like-box" class="comment-author comment-reply">
                            <comment-detail-like class="wrapper-detail-like-box hidden">
                                <div class="detail-like-box ">
                                    <div class="detail-like-header">
                                        <div class="detail-like--title">Likes</div>
                                        <div class="detail-like--line"></div>
                                    </div>
                                    <div class="detail-like-content">
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Sát thủ đa tình</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow ">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối thứ 7</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối chủ nhật</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow">Follow</div>
                                                <div class="btn-unfollow hide">Unfollow</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-detail-like>
                            <div class="comment-left-wrapper">
                                <img src="../pics/profile/shh.jpg" class="author-comment-avt" />
                                <div class="author-comment-content">
                                    <div class="author-comment-header">
                                        <a href="" class="author-name">giu_giot_le_sau</a>
                                        <div class="author-comment-time">1 hour</div>
                                    </div>
                                    <div class="author-comment-body">
                                        <div class="comment-content">Mày sảng à?</div>
                                    </div>
                                    <div class="author-comment-footer">
                                        <div class="react-wrapper author-comment-react">
                                            <div class="wrapper-react-num">
                                                <div class="heart">
                                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                                        <title>Thích</title>
                                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="num-like detail-like detail comment-detail-like-link">10</div>
                                            </div>
                                            <div class="wrapper-react-num">
                                                <div class="comment">
                                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                        <title>Trả lời</title>
                                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                    </svg>
                                                </div>
                                                <div class="num-comment detail-comment">7</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-right-wrapper">
                                <div class="option-icon">
                                    <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                        <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                             class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                             style="fill: #777777; --height: 20px; --width: 20px;">
                                            <title>Xem thêm</title>
                                            <circle cx="12" cy="12" r="1.5"></circle>
                                            <circle cx="6" cy="12" r="1.5"></circle>
                                            <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                    </icon>
                                </div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="view-reply hidden">View (1) more reply</div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="hide-reply hidden">Hide all replies</div>
                            </div>
                        </comment-author>
                        <div class="detail-separate-line"></div>
                    </div>
                    @*kết thúc 1 khung hội thoại*@

                    @*comment-wrapper là bắt đầu khung hội thoại mới*@
                    <div class="comment-wrapper">
                        @*Moi 1 comment-author la 1 binh luan, author hay reply cung nhu nhau het, khac class thoi*@
                        <comment-author data-custom-class="comment-detail-like-box" class="comment-author">
                            <comment-detail-like class="wrapper-detail-like-box hidden">
                                <div class="detail-like-box ">
                                    <div class="detail-like-header">
                                        <div class="detail-like--title">Likes</div>
                                        <div class="detail-like--line"></div>
                                    </div>
                                    <div class="detail-like-content">
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Sát thủ đa tình</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow ">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối thứ 7</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối chủ nhật</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow">Follow</div>
                                                <div class="btn-unfollow hide">Unfollow</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-detail-like>
                            <div class="comment-left-wrapper">
                                <img src="../pics/profile/vkiu.jpg" class="author-comment-avt" />
                                <div class="author-comment-content">
                                    <div class="author-comment-header">
                                        <a href="" class="author-name">___vai_tuong_lo</a>
                                        <div class="author-comment-time">10 hour</div>
                                    </div>
                                    <div class="author-comment-body">
                                        <div class="comment-content">Em nàyyy aaaa</div>
                                    </div>
                                    <div class="author-comment-footer">
                                        <div class="react-wrapper author-comment-react more-reply">
                                            <div class="wrapper-react-num">
                                                <div class="heart">
                                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                                        <title>Thích</title>
                                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="num-like detail-like detail comment-detail-like-link">1</div>
                                            </div>
                                            <div class="wrapper-react-num">
                                                <div class="comment">
                                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                        <title>Trả lời</title>
                                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                    </svg>
                                                </div>
                                                <div class="num-comment detail-comment">1</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-right-wrapper">
                                <div class="option-icon">
                                    <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                        <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                             class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                             style="fill: #777777; --height: 20px; --width: 20px;">
                                            <title>Xem thêm</title>
                                            <circle cx="12" cy="12" r="1.5"></circle>
                                            <circle cx="6" cy="12" r="1.5"></circle>
                                            <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                    </icon>
                                </div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="view-reply hidden">View (1) more reply</div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line "></div>
                                <div class="hide-reply ">Hide all replies</div>
                            </div>
                        </comment-author>
                        <comment-author data-custom-class="comment-detail-like-box" class="comment-author comment-reply">
                            <comment-detail-like class="wrapper-detail-like-box hidden">
                                <div class="detail-like-box ">
                                    <div class="detail-like-header">
                                        <div class="detail-like--title">Likes</div>
                                        <div class="detail-like--line"></div>
                                    </div>
                                    <div class="detail-like-content">
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Sát thủ đa tình</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow ">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối thứ 7</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow hide">Follow</div>
                                                <div class="btn-unfollow">Unfollow</div>
                                            </div>
                                        </div>
                                        <div class="detail-like-person">
                                            <div class="person-info">
                                                <img src="../pics/profile/9edcbf73-6987-4b40-b0d5-1354d43e6bd5.jfif" class="person-avt" />
                                                <div class="person-name">
                                                    <div class="person-username">giu_giot_le_sau</div>
                                                    <div class="person-fullname">Tối chủ nhật</div>
                                                </div>
                                            </div>
                                            <div class="person-follow-status">
                                                <div class="btn-follow">Follow</div>
                                                <div class="btn-unfollow hide">Unfollow</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </comment-detail-like>
                            <div class="comment-left-wrapper">
                                <img src="../pics/profile/shh.jpg" class="author-comment-avt" />
                                <div class="author-comment-content">
                                    <div class="author-comment-header">
                                        <a href="" class="author-name">giu_giot_le_sau</a>
                                        <div class="author-comment-time">1 min</div>
                                    </div>
                                    <div class="author-comment-body">
                                        <div class="comment-content">Otayyyy vợ iuuuu</div>
                                        <img src="../pics/profile/traitim.jpg" class="comment-picture" />
                                    </div>
                                    <div class="author-comment-footer">
                                        <div class="react-wrapper author-comment-react">
                                            <div class="wrapper-react-num">
                                                <div class="heart">
                                                    <svg width="20" height="19" aria-label="Thích" role="img" viewBox="0 0 24 22"
                                                         style="--fill: transparent; --height: 19px; --width: 20px;">
                                                        <title>Thích</title>
                                                        <path d="M1 7.66c0 4.575 3.899 9.086 9.987 12.934.338.203.74.406 1.013.406.283 0 .686-.203 1.013-.406C19.1 16.746 23 12.234 23 7.66 23 3.736 20.245 1 16.672 1 14.603 1 12.98 1.94 12 3.352 11.042 1.952 9.408 1 7.328 1 3.766 1 1 3.736 1 7.66Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="num-like detail-like detail comment-detail-like-link">10</div>
                                            </div>
                                            <div class="wrapper-react-num">
                                                <div class="comment">
                                                    <svg width="20" height="19" aria-label="Trả lời" role="img" viewBox="0 0 24 24"
                                                         style="--fill: currentColor; --height: 20px; --width: 20px;">
                                                        <title>Trả lời</title>
                                                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"></path>
                                                    </svg>
                                                </div>
                                                <div class="num-comment detail-comment">7</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-right-wrapper">
                                <div class="option-icon">
                                    <icon class="option-icon pointer more_options flex align-center justify-content-center rounded-50">
                                        <svg width="20" height="20" aria-label="Xem thêm" role="img" viewBox="0 0 24 24"
                                             class="x1lliihq xffa9am x1jwls1v x1n2onr6 x17fnjtu x1gaogpn"
                                             style="fill: #777777; --height: 20px; --width: 20px;">
                                            <title>Xem thêm</title>
                                            <circle cx="12" cy="12" r="1.5"></circle>
                                            <circle cx="6" cy="12" r="1.5"></circle>
                                            <circle cx="18" cy="12" r="1.5"></circle>
                                        </svg>
                                    </icon>
                                </div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="view-reply hidden">View (1) more reply</div>
                            </div>
                            <div class="view-reply-wrapper">
                                <div class="view-reply-line hidden"></div>
                                <div class="hide-reply hidden">Hide all replies</div>
                            </div>
                        </comment-author>
                        <div class="detail-separate-line"></div>
                    </div>
                    @*kết thúc 1 khung hội thoại*@
                </comment-box>
            </thread-detail>
        </div>
        
    </div>
    <div class="write-comment-wrapper">
        <div class="write-comment-account">
            <img src="../pics/profile/shh.jpg" class="write-comment-account-avt" />
        </div>
        <div class="write-comment-box-wrapper">
            <input placeholder="Post your comment..." type="text" class="write-comment-box-content" />
        </div>
        <div class="write-comment-btn-emoji">
            <i class="fa-solid fa-face-smile"></i>
        </div>
        <div class="write-comment-btn-submit">
            <i class="fa-solid fa-paper-plane icon-submit"></i>
        </div>
    </div>
</body>
<script src="~/js/tingle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/profile/detailpost.js"></script>

</html>
