.thread_main_icon svg {
    fill: transparent;
    color: rgb(243, 245, 247);
    stroke: currentColor;
    stroke-width: 2;
}
.line_main {
    height: 100%;
    background-color: rgb(77,77,77);
    width: 3px;
    margin-top: 10px;
    border-radius: 5px;
}
.thread_bottom{
    
}
thread-main {
    border-top: 1px solid rgba(243, 245, 247, 0.15);
}
.author {
    color: rgb(243, 245, 247);
}
.author span{
    color : #777777;
    margin-left: 5px;
}
.thread_comments, .thread_likes {
    color: #777777;
}
.dots {
    color: #777777;
    line-height: 28px;
}
.thread_wrapper {
    background-color: rgb(24, 24, 24);
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(243, 245, 247, 0.15);
    border-style: solid;
}
.create_post span{
    color: #777777;
}
.button_create {
    color: #777777;
    font-size: 15px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(243, 245, 247, 0.15);
    border-style: solid;
}
.bls_like_thread{
     line-height: 28px;
}
.more_options:active{
    transform: scale(0.4);
}
.more_options {
     transition: all 0.2s linear;
}
    .more_options:hover {
        background-color: rgb(77,77,77);
    }
.create_thread {
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(243, 245, 247, 0.15);
    background-color: rgb(24,24,24);
}
.content textarea[is="custom-text"] {
    background-color: transparent;
    display: block;
    border: none;
    border-radius: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    color: white;
    font-size: 15px;
    outline: none;
    overflow-y: auto;
    max-height: 20rem;
}
    .content textarea::placeholder {
        color: white;
        font-size: 15px;
        opacity: 0.2;
    }
    .tingle-modal-box__content .thread_main_icon svg {
        stroke-width: 0.5;
    }
.create_image input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    padding: 10px;
    z-index: 2;
}
.heart, .comment,.re-post{
    cursor: pointer;
      transition: all 0.2s linear;
}
.heart:active, .comment:active, .re-post:active{
   transform : scale(0.9);
}

.icon-header.new-noti svg {
    fill: #ff3d36;
}

.swal2-confirm.custom-confirm-button {
    border: none;
}

.content.content-text {
    color: var(--text-color);
    margin: 4px 0px 12px;
    display: block;
}

.link-detail {
    text-decoration: none;
}
custom-media img {
    transition: all 0.2s linear;
    cursor: pointer;
}

custom-media:active img {
    transform: scale(0.98);
}
.emoji-picker__wrapper{
    z-index: 4;
}

.avt-me,
.avt-author {
    border-radius: 50%;
    object-fit: cover;
    height: 48px !important;
}

.show-specific-profile {
    text-decoration: none;
    color: var(--text-color);
}

.show-specific-profile:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.heart.reacted svg {
    fill: #FF0034;
    color: rgb(243, 245, 247);
    stroke: none;
}

.search_text {
    color: #F1F1F1;
    height: 44px;
    border-radius: 16px;
    background-color: rgb(10,10,10);
    outline: 1px solid rgba(243,245,247, 0.15);
    padding-left: 40px;
    border: 1px solid rgba(243,245,247, 0.15);
}
    .search_text::placeholder {
        font-size: 12px;
        color: #606770;
        cursor: default;
        font-weight: 600;
    }
.search_icon{
    color: rgb(77,77,77);
}
.author_nickname{
     color: #777777;
     font-size: 15px;
}
.follow_text {
    color: #F3F5F7;
    font-size: 15px;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 70px;
    aspect-ratio: 1;
    background: radial-gradient(farthest-side,#ffa516 90%,#0000) center/16px 16px, radial-gradient(farthest-side,green 90%,#0000) bottom/12px 12px;
    background-repeat: no-repeat;
    animation: l17 1s infinite linear;
    position: relative;
}

    .loader::before {
        content: "";
        position: absolute;
        width: 8px;
        aspect-ratio: 1;
        inset: auto 0 16px;
        margin: auto;
        background: #ccc;
        border-radius: 50%;
        transform-origin: 50% calc(100% + 10px);
        animation: inherit;
        animation-duration: 0.5s;
    }

@keyframes l17 {
    100% {
        transform: rotate(1turn)
    }
}
