@page
@model PRN221_Assignment.Pages.loginModel
@{
}
<h2>Login</h2>

<form method="post">
    <div>
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
    </div>
    <button type="submit">Login</button>
</form>