@page "/request"
@model PRN221_Assignment.Pages.Request.RequestModel
@{
}
<div class="page">
    <div class="type-noti">
        <ul class="list-type">
            <li class="option-noti">
                <a href="/notification">
                    Notifications
                </a>
            </li>
            <li class="option-noti selected">
                <a href="/request">
                    Requests
                </a>
            </li>
        </ul>
    </div>
    <div class="main">
        <request-follow>
            <div class="request-wrapper-all">
                <a href="" class="a-link-request">
                    <div class="request-wrapper">
                        <div class="request-avt-wrapper">
                            <img src="./pics/profile/meower.jpg" class="request-avt" />
                        </div>
                        <div class="request-content-wrapper">
                            <div class="request-content-header">
                                <div class="request-person-name">_____meower</div>
                                <div class="request-time">13 hour</div>
                            </div>
                            <div class="request-content-body">
                                <div class="request-content-message">Request follow</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="btn-accept-wrapper">
                    <div class="btn-accept-request">Accept</div>
                    <div class="btn-decline-request">Decline</div>
                </div>
            </div>
            <div class="line"></div>
        </request-follow>
        <request-follow>
            <div class="request-wrapper-all">
                <a href="" class="a-link-request">
                    <div class="request-wrapper">
                        <div class="request-avt-wrapper">
                            <img src="./pics/profile/meower.jpg" class="request-avt" />
                        </div>
                        <div class="request-content-wrapper">
                            <div class="request-content-header">
                                <div class="request-person-name">_____meower</div>
                                <div class="request-time">13 hour</div>
                            </div>
                            <div class="request-content-body">
                                <div class="request-content-message">Request follow</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="btn-accept-wrapper">
                    <div class="btn-accept-request">Accept</div>
                    <div class="btn-decline-request">Decline</div>
                </div>
            </div>
            <div class="line"></div>
        </request-follow>
        <request-follow>
            <div class="request-wrapper-all">
                <a href="" class="a-link-request">
                    <div class="request-wrapper">
                        <div class="request-avt-wrapper">
                            <img src="./pics/profile/meower.jpg" class="request-avt" />
                        </div>
                        <div class="request-content-wrapper">
                            <div class="request-content-header">
                                <div class="request-person-name">_____meower</div>
                                <div class="request-time">13 hour</div>
                            </div>
                            <div class="request-content-body">
                                <div class="request-content-message">Request follow</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="btn-accept-wrapper">
                    <div class="btn-accept-request">Accept</div>
                    <div class="btn-decline-request">Decline</div>
                </div>
            </div>
            <div class="line"></div>
        </request-follow>
    </div>
</div>

